<div>
    <a href="/books/<%=data._id%>"><img class="comic_index_logo" src="/img/<%=data.image%>" alt="<%=data.title%>"></a>
    <p><i><%=data.title%></i>
    <br>
   <%=data.author%>
    <br>
    <%=data.rating%> Stars
    <br>
    <a href="/books/<%=data._id%>">Details</a>
    </p>
</div>